@font-face {
    font-family: 'AirbnbCereal';
    src: url('../fonts/airbnb-cereal/AirbnbCerealBook.ttf');
}
@font-face {
    font-family: 'AirbnbCereal-medium';
    src: url('../fonts/airbnb-cereal/AirbnbCerealMedium.ttf');
}
@font-face {
    font-family: 'AirbnbCereal-bold';
    src: url('../fonts/airbnb-cereal/AirbnbCerealBold.ttf');
}
@font-face {
    font-family: 'AirbnbCereal-light';
    src: url('../fonts/airbnb-cereal/AirbnbCerealLight.ttf');
}
@font-face {
    font-family: 'AirbnbCereal-xbold';
    src: url('../fonts/airbnb-cereal/AirbnbCerealExtraBold.ttf');
}